<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 3: Web APIs & NLP

Part 2 of 3

Data Cleaning and EDA

- Are missing values imputed/handled appropriately?
- Are distributions examined and described?
- Are outliers identified and addressed?
- Are appropriate summary statistics provided?
- Are steps taken during data cleaning and EDA framed appropriately?
- Does the student address whether or not they are likely to be able to answer their problem statement with the provided data given what they've discovered during EDA?

In [15]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV

In [6]:
# Reading the data.
df = pd.read_csv('../datasets/combined_df.csv')
print(df.shape)
df.head()

(2999, 4)

,Unnamed: 0,subreddit,selftext,title
0,0,TheOnion,NaN,Barr Steps Down To Pursue True Passion Full-Ti...
1,1,TheOnion,NaN,Nation’s Moms Demand Christmas List
2,2,TheOnion,NaN,PS5 Alert: We’ve Heard Tales Of A City Beyond ...
3,3,TheOnion,NaN,PornHub To Delete All Content It Can’t Verify ...
4,4,TheOnion,NaN,Lab Assistant Who Accidentally Poked Self Whil...

In [8]:
# Drop the unnamed: 0 and selftext columns.
df.drop(['Unnamed: 0', 'selftext'], axis=1, inplace=True)

In [10]:
# Checking.
df.tail()

        subreddit                                              title
2994  nottheonion  ‘90 Day Fiancé’ star retires from selling fart...
2995  nottheonion  Pabst Blue Ribbon Is In Some Hot Water After A...
2996  nottheonion  Connecticut HS basketball coach suspended for ...
2997  nottheonion  Reality star has HEART ATTACK symptoms from FA...
2998  nottheonion  New French Law Requires Car Commercials to Tel...

In [11]:
# Creating binary labels for what we want to predict.
df['subreddit'] = df['subreddit'].map({'TheOnion': 0, 'nottheonion': 1})
df.head()

   subreddit                                              title
0          0  Barr Steps Down To Pursue True Passion Full-Ti...
1          0                Nation’s Moms Demand Christmas List
2          0  PS5 Alert: We’ve Heard Tales Of A City Beyond ...
3          0  PornHub To Delete All Content It Can’t Verify ...
4          0  Lab Assistant Who Accidentally Poked Self Whil...

In [12]:
# Creating the X and y.
X = df['title']
y = df['subreddit']

In [13]:
# Because of the extraction previously, the distribution will be equal. Checking anyway.
y.value_counts(normalize = True)

1    0.500167
0    0.499833
Name: subreddit, dtype: float64

In [16]:
# Split the data into the training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Preprocessing and Modeling

- Is text data successfully converted to a matrix representation?
- Are methods such as stop words, stemming, and lemmatization explored?
- Does the student properly split and/or sample the data for validation/training purposes?
- Does the student test and evaluate a variety of models to identify a production algorithm (AT MINIMUM: Random Forest and one other model)?
- Does the student defend their choice of production model relevant to the data at hand and the problem?
- Does the student explain how the model works and evaluate its performance successes/downfalls?